/*
* default params
*/
docker.enabled=true

profiles {
 cloud {
   process.executor = 'google-batch'
   workDir = 'gs://nextflow-batch-temp/genome'
   google.location = 'us-east1'
   google.region  = 'us-east1'
   google.project = 'compute-workspace'
 }
}

google {
    project = 'compute-workspace'
    location = 'us-east1'
    batch.spot = false //spot = true allows resources to be reclaimed in the middle of the process and restarted later. Could work for other processes but not the download ones perhaps. 
    // Only use this for processes that can be restarted in the middle of the execution
    batch.bootDiskSize = "100.GB"
}

process {
  withName:FASTQC {
    cpus = 6
    memory = '80 GB'
  }
  withName: 'NFCORE_SAREK:SAREK:FASTQ_ALIGN_BWAMEM_MEM2_DRAGMAP_SENTIEON:BWAMEM1_MEM' {
    cpus = 20
    memory = '240 GB'
  }
  withName: 'NFCORE_SAREK:SAREK:BAM_MARKDUPLICATES:GATK4_MARKDUPLICATES' {
    cpus = 20
    memory = '240 GB'
    disk = '2000.GB'
  }
  withName: 'NFCORE_SAREK:SAREK:BAM_APPLYBQSR:CRAM_MERGE_INDEX_SAMTOOLS:MERGE_CRAM' {
    cpus = 10
    memory = '168 GB'
    disk = '2000.GB'
  }
  withName: 'NFCORE_SAREK:SAREK:CRAM_SAMPLEQC:CRAM_QC_RECAL:SAMTOOLS_STATS' {
    cpus = 10
    memory = '168 GB'
    disk = '500.GB'
  }
  withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:VCF_VARIANT_FILTERING_GATK:CNNSCOREVARIANTS' {
    cpus = 6
    memory = '64 GB'
  }
  withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_GERMLINE_ALL:BAM_VARIANT_CALLING_CNVKIT:CNVKIT_BATCH' {
    cpus = 6
    memory = '64 GB'
    disk = '500.GB'
  }
  
}