manifest {
    description = "Bundle CRAMs into FASTQ-ready inputs for Sarek"
    author = 'Huynh NPT'
}

/*
* default params
*/
docker.enabled=true


/*
* define execution profiles for different environments
* mostly batch or local
*/
profiles {
    // local
    local {
        process.executor = 'local'
    }

    // GCP
    cloud {
        workDir = 'gs://nextflow-batch-temp/genome/fastq_convert_${params.YEAR}'
        process.executor = 'google-batch'
        process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
        process.maxRetries = 2
        
        // If boot disk crashes because the VM can't accomodate Docker
        // https://github.com/nextflow-io/nextflow/issues/1331
        // process.executor = 'google-lifesciences'
        // google.lifeSciences.bootDiskSize = 50.GB

    }

}

/*
* GCloud authentication bitsies
*/
google {
    project = 'compute-workspace'
    location = 'us-east1'
    batch.spot = false //spot = true allows resources to be reclaimed in the middle of the process and restarted later. Could work for other processes but not the download ones perhaps. 
    // Only use this for processes that can be restarted in the middle of the execution
    batch.bootDiskSize = "100.GB"
}